{% extends 'hawkuna/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title_block %} 
    Change Password
{% endblock %}

{% block body_block %} 

   <!--change password - accessible from user profile-->
	
      {% if changed %}
      <div class="container">
        <div class="jumbotron">
            <p class="bold">Your profile has beed updated successfully!</p>
            <p>Go to the <a href="{% url 'hawkuna:profile' the_name %}">your profile page </a>or back to the <a href="{% url 'hawkuna:homepage' %}">Homepage</a></p><br />
        </div>
    </div>
        {% else %}
        <div class="jumbotron">
            <h1>Change Password</h1>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-2">
                <p></p>
            </div>

        <div class="col-lg-6 col-md-8 col-sm-6">
            <form id="change_password" method="post" action="{% url 'hawkuna:change_password' the_name %}">
                {% csrf_token %}

                 {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.error }}
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary" value="Save Changes"/>
            </form>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-2">
                <p></p>
        </div>
    </div>
    </div>
    {% endif %}
	
	

{% endblock %}
