{% extends 'hawkuna/base.html' %}
{% load static %}

{% block title_block %}
    Contact us
{% endblock %}

{% block titlebar_block %}
    Get help
{% endblock %}

{% block body_block %}
 
 <!--basic contact us page-->


<div class="container">
<div class="row">
	

	<div class="col-sm">
	<figure>
	<img src="{% static 'images/contact.jpg' %}" alt="" class="img-fluid" />
	</figure>
	  
</div>

	<div class=" col-sm">
	
	    <h1 class="card-title">Contact us</h1>
	    <h6 class="card-subtitle mb-2 text-muted">We would love to hear from you!</h6>
	   <p></p>
	    <p class="card-text"> <i class="fa fa-envelope"></i> something@gmail.com
	    </p>
	     <p class="card-text"><i class="fa fa-phone"></i> 0000-0000-0000-0000
	    </p>
	    <p class="card-text"><i class="fa fa-facebook"> </i> our_facebook</p>
	  </div>
	</div>
	
</div>
</div>
</div>
{% endblock %}

