{% extends 'hawkuna/base.html' %}
{% load static %}

{% block title_block %} 
   FAQ
{% endblock %}

{% block titlebar_block %}
    Frequently Asked Questions
{% endblock %}

<!-- FAQ template --> 

{% block body_block %} 
<div class="faq">
<div class="top-up-image">
	<figure>
<img src="{% static 'images/faq1.jpg' %}" alt="" class="img-fluid" />
</figure>
</div>

<div class="container">
<div class="jumbotron">
	<h2> Some question here? Answers are some bacon ipsum text. </h2>
	<div>
<p class="first-paragraph"> Venison rump bacon picanha frankfurter short ribs strip steak ham hock meatloaf fatback drumstick beef pig prosciutto doner. Rump sausage buffalo meatball hamburger capicola pork chop. T-bone ham pork belly hamburger meatloaf sausage. Ball tip chicken shank, rump tenderloin biltong strip steak fatback. Jerky shoulder salami tongue leberkas alcatra boudin.</p>

<p>Beef ribs kielbasa strip steak, sirloin biltong pork belly fatback bacon kevin. Hamburger chuck jerky pancetta pork chop salami. Ball tip burgdoggen ham hock, kevin hamburger turkey venison filet mignon beef ribs. Meatball ham hock pancetta tail drumstick pastrami turkey fatback pork andouille flank capicola biltong pig chicken. Boudin andouille picanha ribeye tenderloin drumstick. Kevin cupim shankle pig.</p>


	</div>
</div> 

<div class="jumbotron">
	<h2> Second question here? </h2>
	<div>
<p class="first-paragraph"> Strip steak spare ribs brisket prosciutto burgdoggen cupim cow chuck alcatra tenderloin venison bresaola. Venison filet mignon salami corned beef pancetta tail pork. Landjaeger corned beef fatback ham hock, frankfurter pork belly buffalo picanha jowl short loin sirloin drumstick. Pork chop filet mignon short ribs, beef ribs tenderloin picanha sausage tail fatback leberkas pastrami brisket shoulder sirloin doner. Spare ribs tongue meatloaf, bacon chuck tri-tip strip steak. Pork belly shank t-bone kielbasa ball tip boudin brisket venison tri-tip andouille corned beef short loin chicken cupim.</p>

	</div>
</div> 

<div class="jumbotron">
	<h2> Third question here? </h2>
	<div>
<p class="first-paragraph">Shankle chicken biltong, fatback ham tenderloin pork loin chislic salami shoulder ground round short loin. Beef corned beef rump doner sausage bresaola tail andouille pork belly porchetta. Tongue flank pork belly, jowl tenderloin landjaeger sausage shankle bresaola drumstick chicken. Salami beef ribs tri-tip jerky turducken. Picanha bresaola chuck kevin brisket hamburger.</p>

<p>Fatback ham hock strip steak ground round tail ham cow shankle turkey. Buffalo tenderloin picanha spare ribs, drumstick hamburger brisket strip steak turkey jowl salami chicken boudin. Fatback prosciutto pancetta, pork belly tri-tip capicola cupim ham hock cow tenderloin rump leberkas buffalo burgdoggen pastrami. Pastrami turducken beef ribs pork belly short ribs, doner pork loin pig ball tip shank tri-tip. Alcatra prosciutto tail capicola, turkey pork short ribs tenderloin porchetta frankfurter t-bone. Shank chicken pig doner cow.</p>

<p>Cupim jowl brisket tongue chicken biltong spare ribs. Shoulder bresaola bacon kielbasa, filet mignon ribeye picanha. Turkey sirloin kevin biltong meatball landjaeger. Chislic pig beef, shoulder drumstick ground round prosciutto biltong tri-tip kevin. Picanha capicola boudin ham meatball salami ribeye pork loin brisket t-bone.</p>

	</div>
</div> 
</div>

</div>
{% endblock %}
