{% extends 'hawkuna/homepage.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title_block %}
    Update product
{% endblock %}

{% block titlebar_block %}
    Update product information
{% endblock %}

<!-- template for updating product information -->
{% block body_block %}
    {% if modif %}
    <div class="container">
    <div class="jumbotron">
        <p class="bold">{{ product.name }} updated successfully!</p>
        <p>See <a href="{% url 'hawkuna:product' product.category.slug product.subcategory.slug product.slug %}">your product</a>, or go back to <a href="{% url 'hawkuna:profile' the_name%}">your profile </a>or the <a href="{% url 'hawkuna:homepage' %}">Homepage</a></p>
    </div>
    </div>
    {% else %}
    <div class="jumbotron">
        <h1>Update product information: {{ product.name }}</h1>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-2 col-sm-2">
                <p></p>
            </div>

        <div class="col-lg-6 col-md-8 col-sm-6">
                <form id="product_form" method="post" enctype="multipart/form-data" action="{% url 'hawkuna:manage_product' product.category.slug product.subcategory.slug product.slug %}">

                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
        
                    {% endfor %}
                    <input type="submit" name="submit" value="Update Product" class="btn btn-primary" />
                </form>
            </div>
        <div class="col-lg-3 col-md-2 col-sm-2">
                <p></p>
    </div>
    </div>
 
            <br/>
    {% endif %}
{% endblock %}

