{% extends 'hawkuna/profile.html' %}

{% block title_block %}
    Confirm Reset
{% endblock %}

{% block block_content %}
  {% if validlink %}
  <div class="jumbotron">
    <h3>Change password</h3>
  </div>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Change password</button>
    </form>
  {% else %}
  <div class="container">
    <div class="jumbotron">
    <p class="bold">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  </div>
</div>
  {% endif %}
{% endblock %}
