{% extends 'hawkuna/base.html' %}
{% load static %}

{% block title_block %}
    {{ title }}
{% endblock %}
{% block titlebar_block %}
    Seller manual
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Join the hawkuna-matata* team</h1>
</div>
<div class="container">
    
    
    <h4 class="centre">So, you'd like to become a seller.<br/>
    Here is what you need to know:</h4>
    <br/>

    <div class="jumbotron">
	<h2 class="centre"> How to become a seller in hawkuna-matata*? </h2>
	<div>
<p class="first-paragraph"> Chicken shoulder cupim, boudin corned beef meatloaf spare ribs beef prosciutto tri-tip andouille sirloin. Pig shoulder salami tenderloin spare ribs pork beef sausage. Ham shankle pork pig. Salami brisket corned beef landjaeger jowl beef ribs alcatra strip steak t-bone. Drumstick biltong fatback, leberkas jerky bacon alcatra ham turkey tri-tip pastrami sausage ball tip. Strip steak boudin pig swine prosciutto pork doner andouille kevin sausage brisket.</p>

<p>Beef ribs kielbasa strip steak, sirloin biltong pork belly fatback bacon kevin. Hamburger chuck jerky pancetta pork chop salami. Ball tip burgdoggen ham hock, kevin hamburger turkey venison filet mignon beef ribs. Meatball ham hock pancetta tail drumstick pastrami turkey fatback pork andouille flank capicola biltong pig chicken. Boudin andouille picanha ribeye tenderloin drumstick. Kevin cupim shankle pig.</p>

	</div>
</div> 

<div class="jumbotron">
	<h2 class="centre"> Why choosing hawkuna-matata* as a platform to sell your pre-loved items? </h2>
	<div>
<p class="first-paragraph"> T-bone filet mignon pork chop meatloaf sausage, cow strip steak bresaola ham hock kevin. Burgdoggen short ribs andouille leberkas swine, ground round jowl. Short ribs rump hamburger pastrami andouille meatloaf jowl pancetta corned beef bresaola capicola porchetta. Ribeye biltong beef, pork loin bacon chicken doner hamburger shank ground round boudin spare ribs turkey. Flank alcatra beef ribs jowl cupim ground round, strip steak tenderloin pork belly. Beef pork loin venison prosciutto landjaeger. Burgdoggen fatback sirloin picanha, turkey t-bone ribeye.</p>

<p>Andouille biltong pastrami pig, tenderloin alcatra ham kevin leberkas short loin turkey beef rump swine picanha. Ham hock kielbasa ball tip spare ribs prosciutto andouille strip steak alcatra venison tenderloin buffalo sirloin brisket. Kevin pig meatloaf, turkey ham hock jowl filet mignon beef cow spare ribs burgdoggen. Brisket pork loin kielbasa doner, drumstick corned beef pig jerky sausage pancetta pastrami. Sausage ball tip pork belly porchetta brisket leberkas. Landjaeger jerky pancetta tri-tip meatball. Tongue ball tip chislic doner leberkas pig.</p>

<p>Shankle cow picanha, prosciutto strip steak ham swine ribeye shoulder. Bacon pork loin alcatra, boudin tail strip steak short ribs hamburger shank pig flank spare ribs doner. Buffalo beef pancetta cupim doner drumstick landjaeger tenderloin ribeye salami cow. Landjaeger tail kevin bacon sirloin, picanha cow andouille flank prosciutto spare ribs tenderloin tri-tip boudin brisket.</p>


	</div>
</div>

<div class="jumbotron">
	<h2 class="centre"> Some other information? </h2>
	<div>
<p class="first-paragraph"> Prosciutto ham hock andouille, buffalo tenderloin shankle beef pork salami tri-tip filet mignon. Shoulder meatloaf capicola strip steak ribeye, landjaeger pastrami spare ribs hamburger. Pork chop bresaola buffalo shoulder pork picanha shank cupim. Sausage pastrami sirloin bacon flank, t-bone cupim picanha beef hamburger prosciutto strip steak landjaeger. Salami ground round turkey filet mignon landjaeger bresaola tri-tip spare ribs sausage chicken pastrami pig bacon. Burgdoggen boudin tongue, cow t-bone strip steak swine filet mignon shoulder.</p>


	</div>
</div>

</div>
{% endblock %}
