{% extends 'hawkuna/base.html' %}
{% load static %}

{% block title_block %}
    {{ subcategory.name }}
{% endblock %}

{% block titlebar_block %}
    Explore items in {{ subcategory.name }}
{% endblock %}


{% block body_block %}


    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">{{ subcategory.name }}</h1>
                        <ol class="breadcrumb">
                            <li><a href="{% url 'hawkuna:homepage' %}">Home</a></li>
                            <li class="active">{{ subcategory.name }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

  {% if user.is_authenticated %}
        {% if profile.isSeller %}
            <a href="{% url 'hawkuna:add_product' category.slug subcategory.slug %}"><button type="button" class="btn btn-primary form-inline">Add a product</button></a>
        {% endif %}
    {% endif %}

    {% if products %}
        <div style="width:100%">
            <form method="get" action="{% url 'hawkuna:show_sub' category.slug subcategory.slug %}" class="form-inline centre" style="margin-left: 10%">
                <input type="number" name="price-min" id="price-min" min="0" max="1000" placeholder="Min" style="padding-right: 20px;">
                <input type="number" name="price-max" id="price-max"  min="0" max="1000" placeholder="Max" style="padding-right: 20px;">
                <input type="submit" value="Filter" class="btn btn-main text-center" style="margin-left: 20px; margin-bottom: 20px;">
            </form>
        </div>
        <div class="container">
        <div class="row">
            {% for p in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="product-grid" style="margin-top: 40px; margin-bottom: 10px;">
                    <div class="product-image">
                        <a href="#"><img src="{{  p.image1.url }}" class="pic-1" width="300px" height="300px" alt="{{ p.name }}'s image" /><br/> 
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="/hawkuna/cat/{{ p.category.slug }}/{{ p.subcategory.slug }}/{{ p.slug }}">{{ p.name }}</a></h3>
                        <div class="price">${{ p.price }}0</div>
                    </div>

                    <ul class="social">
                        <!-- pop-up menu with quick preview for the product -->
                        <li> <a href="javascript:toggle_visibility('{{ p.slug }}')" data-tip="quick view">
                            <i class="fa fa-eye"></i> </a>
                         </li>
                         <a href=></a>
                        <div id="{{ p.slug }}" class="pop-up-menu">
                            <div class="card">
                                      <div class="card-body">
                                        <p class="card-text">{{ p.description }}</p>
                                        <p class="card-text"> Seller: {{ p.seller }}</p>
                                        <p>  </p>
                                      </div>
                                    </div>
                                    
                        </div>
                         
                    </ul>
            </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="container"><p class="strong">No products in {{ subcategory.name }}. </p> </div>
        </div>
        </div>
        {% endif %}

  
{% endblock %}
